
.home {

    display: flex;
    flex-direction: column;

    .ft_table {
        margin: 10px 20px;
        flex-direction: column;

        .ft_table_title {
            font-weight: bold;
        }

        div {
            margin: 5px;

            span {
                width: 110px;
                display: inline-block;
            }
        }
    }

    .info {
        margin: 10px 20px;
        flex-direction: row;

        > div {
            flex-direction: column;
            margin: 0 5px;
            border: 1px solid #f1ebeb;
            padding: 5px;
            border-radius: 6px;
        }

        .title {
            font-weight: bold;
            margin: 5px 0px;
        }

        .list {
            flex-direction: column;
            > div {
                margin: 2px 0;
            }

            .item_name,
            .item_money {
                margin: 0px 2px;
                width: 60px;
            }
        }
    }

}

.ft_up {
    color: red;
}
.ft_down {
    color: green;
}

.ft_haq {
    color: MediumBlue;
}
